<%- include('./../partials/beginHeader.ejs') %>
    <link rel="stylesheet" type="text/css" href="styles/newEvent.css" >
    <title>49erHangout - Events</title>
<%- include('./../partials/endHeader.ejs') %>


<%- include('./../partials/footer.ejs') %>