<%- include('./partials/beginHeader.ejs') %>
<link rel="stylesheet" type="text/css" href="/styles/event.css" >
<title>49erHangout - About</title>
<%- include('./partials/endHeader.ejs') %>

<main>
    
</main>

<%- include('./partials/footer.ejs') %>