<%- include('./partials/beginHeader.ejs') %>
<link rel="stylesheet" type="text/css" href="/styles/about.css" />
<title>49erHangout - About</title>
<%- include('./partials/endHeader.ejs') %>
<main>
    <h1>About Me</h1>
    <div id="about-me">
        <div class="about-me-img">
            <img src="/images/linkedInPFP.jpg" alt="linkedin pfp" />
        </div>
        <div class="about-me-info">
            <p>
                Hi, my name is Santiago Orozco Buri. I am currently a Junior at the
                University of North Carolina at Charlotte, majoring in Computer
                Science, and minoring in Math.
            </p>
            <p>
                I am extremely passionate about Web Development and Technology as a whole. I am interested in design patterns and, in particular, how colors effect human emotion.
            </p>
            <p>
                I spent my 2023 Summer at TIAA at Charlotte as a Technology Intern. I got to experience what it was like to work as Software Engineer at a Fortune 100 Company. My team used technologies such as React.js, Springboot, Git, and Kanban. I was also introduced to the concepts of SCRUM and standup meetings.
            </p>

            <a href="/contact">Contact Me!</a>
        </div>
    </div>
</main>

<%- include('./partials/footer.ejs') %>
