<%- include('./../partials/beginHeader.ejs') %>
<link rel="stylesheet" type="text/css" href="/styles/event.css" >
<title>49erHangout - Event</title>
<%- include('./../partials/endHeader.ejs') %>

<main>
    <h1>: Uh Oh! You're not supposed to be here...</h1>
</main>

<%- include('./partials/footer.ejs') %>